<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-default}">

<body>

<section layout:fragment="content">
	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Wine Search
			</h1>
		</div>
	</div>

	<div class="container-fluid">
		
		<form method="GET" class="form-vertical js-form-loading" th:object="${wineFilter}">		
			
			<div class="form-group">
				<div class="input-group">
					<input id="nome" type="text" class="form-control" placeholder="Search by nome" th:field="*{name}" autofocus="autofocus"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
			</div>
	
			<div class="table-responsive">
			    <table class="table table-bordered table-striped">
			    	<thead>
			    		<tr>
			    			<th class="text-center col-md-1">#</th>
			    			<th class="col-md-7">Name</th>
			    			<th class="text-center col-md-1">Type</th>
			    			<th class="text-right col-md-2">Price</th>
			    			<th class="col-md-1"></th>
			    		</tr>
			    	</thead>
			    	<tbody>
			    		<tr th:each="wine : ${wines}">
			    			<td class="text-center" th:text="${wine.id}"><a th:href=""></a></td>
			    			<td>
			    				<a th:href="@{/wines/{id}(id=${wine.id})}" th:text="${wine.name}"></a>
			    			</td>
			    			<td class="text-center" th:text="#{|wineType.${wine.wineType}|}"></td>
			    			<td class="text-right" th:text="|R$ ${{wine.price}}|"></td>
			    			<td class="text-center">
			    				<i class="fa fa-trash" style="cursor:pointer"></i>
			    			</td>
			    		</tr>
			    		<tr th:if="${#lists.isEmpty(wines)}">
			    			<td colspan="6">No wine found.</td>
			    		</tr>
			    	</tbody>
			    </table>
		    </div>		
		</form>
	</div>

</section>

</body>
</html>